@import "~antd/dist/antd.css";

html,
body {
  background-color: #eff2f5;
}

.ant-btn {
  border-radius: 8px;
}

.container {
  width: 1140px;
}
.svg-icon {
  fill: currentcolor;
}
.icon-m {
  width: 30px;
}
